.navbar {
  padding-top: 5px 10px 5px 10px;
  background-color: transparent;
  border: 0;
}

.navbar--mobile {
  @media screen and (max-width: 320px) {
    @include fade-to-black();
  }
}

.navbar-fixed-top.scrolled {
  @include fade-to-black();
  a, button {
    color: white !important;
  }
}